.i{
    width: 150px;
    
}
body{
    
    text-align: center;



}
.whole{
    
    padding: 40px;
    display:flex;
    justify-content: space-around;
    background-color: #ddebf8;
    color: #2b2839;
    width: 400px;
    margin: 100px auto;
    border-bottom: 10px solid plum;
    
    
    
}

